{% extends "./base.html" %}


{% block head %}
    {% for questionTitle in questionTitle_list %}
<!--        {% if  questionTitle %}-->
            <h3>{{ questionTitle.title }}</h3>
            <h5>{{ questionTitle.introduction }}</h5>
<!--        {% endif %}-->
    {% endfor %}

{% endblock %}




{% block main %}

<form id="contact-form" action="{% url 'answer_input' %}" method="post">
    {% csrf_token %}
    {% for post in question_list %}
    <div class="card post">
        <div class="card-body">
            <h5 class="card-title"><a href="#">{{ post.id }}、{{ post.title }}</a></h5>
             <span class="card-choice">
                 <input type="radio" name="question{{ post.id }}_choice" id="" value="choice_one" required="required"><label style="margin-right: 35px">{{ post.choice_one }}</label>
                 <input type="radio" name="question{{ post.id }}_choice" id="" value="choice_two" required="required"><label style="margin-right: 35px">{{ post.choice_two }}</label>
                 <input type="radio" name="question{{ post.id }}_choice" id="" value="choice_three" required="required"><label style="margin-right: 35px">{{ post.choice_three }}</label>
                 <input type="radio" name="question{{ post.id }}_choice" id="" value="choice_four" required="required"><label style="margin-right: 35px">{{ post.choice_four }}</label>
            </span>
            <hr/>
        </div>
    </div>
    {% endfor %}
<!--    <input type="submit" onclick="return alert('您已经提交成功了~')" value="提交问卷"/>-->
    <input type="submit" value="提交问卷"/>
</form>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		        <script>
		            $(function(){
		                $("#contact-form").submit(_=> alert("You have successfully submitted"));
		            });
		        </script>

{% endblock %}
